<style type="text/css">
     .foo1{
         background: #ff392d;
         width: 100%;
     }
     .foo2{
         background: #00ff0b;
         width: 100%;
     }
     .foo3{
         background: #ff00d4;
         width: 100%;
     }
     .foo4{
         background: #0005ff;
         width: 100%;
     }
</style>

        <div class="foo1">Hi Bob</div>
        <div class="foo2">Hi Kitty</div>
        <div class="foo3">Hi Morgan</div>
        <div class="foo4">Sun</div>
    

        <div class="foo1">Hi Bob</div>

    

    

        <div class="foo3">Hi Morgan</div>

    

